<% provide(:title, "Welcome") %>

<p>Welcome to our home page</p>

				<!-- this is the function we created in app/helpers/application_helper.rb -->
				<p><%= get_season() %></p>
				<p><%= get_random_number(100) %></p>

				<p><%= get_random_welcome() %></p>

				<p><%= count_to_10() %></p>

				



